<!--{% extends "users/base.html" %}
{% block title %} Login Page {% endblock title%}
{% block content %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                          <h3 class="font-weight-light my-1 text-center">Sign In</h3>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                             <a href="{% url 'social:begin' 'github' %}"
                                                   class="btn btn-link btn-lg active btn-block">Sign in with GitHub</a>
                                            <a href="{% url 'social:begin' 'google-oauth2' %}"
                                                   class="btn btn-link btn-lg active btn-block">Sign in with Google</a> 
                                                   <a href="{% url 'login' %}?user_type=admin"class="btn btn-link btn-lg active btn-block">Login as User</a>
                                                   <a href="{% url 'login' %}?user_type=admin"class="btn btn-link btn-lg active btn-block">Login as Admin</a>

                                            <hr>
                                            <p class="text-center"><strong>OR</strong></p>
                                            <hr>
                                            <label class="small mb-1">Username</label>
                                            {{ form.username }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                          <label class="small mb-1">Password</label>
                                          {{ form.password }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                             Add a Remember me functionality 
                                            {{ form.remember_me }}
                                            <label> Remember me</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group mt-0 mb-1">
                                          <button name="login" class="col-md-12 btn btn-dark" id="login">Sign in</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                                <a href="{% url 'users-register' %}">Don't have an account yet? Go to signup</a><br>
                                <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
{% endblock content %}
-->
  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link href="style.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Average+Sans&family=Open+Sans&display=swap"
     rel="stylesheet">
    <title>Facility form</title>
</head>
<body>
    <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4 col-sm-4 col-xs-12"></div>
                        <div class="col-md-4 col-sm-4 col-xs-12"></div>
                        <header class="header">
                            <div class="back-link">
                              <img src="https://eiddash.nascop.org/img/nascoplogo.png">
                            </div>
                            <div class="pull-right" style="margin: 1.5em;">
                                <strong style="color: black;">Saturday, 01 April 2023</strong>
                            </div>
                        </header>
                        <form class="form-container">
                          
                            <div class="form-group">
 <label for="Inputusername" class="form-label" style=" font-weight: 800; font-size:medium; ">Facility:</label> <br>

  <div >
    <input id="username" name="myURL" type="text" placeholder="Search for facility"style="color: black; width: 375px;" />
</div>
 
</div><br>

                            <div class="form-group">
<label for="InputPassword1" class="form-label"  style="font-weight: 800; font-size:medium; "> Batch no:</label><br>
<div id="password">
    <svg height="20px" xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
        <path strokeLinecap="round" strokeLinejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
      </svg>
      <input type="password" required class="form-control" id="Batchno" placeholder="Password" style="height: 20px; color: black;"></div><br>

</div> 
  
                            
<div class="form-row">
    <div class="col-md-10 offset-md-1">
        <div class="form-group mt-0 mb-1">
          <button name="login" class="col-md-12 btn btn-dark" id="login">Sign in</button>
        </div>
    </div>
</div>
</form>                     
        </form>
        <div class="col-md-12 text-center" style="color: rgb(89, 87, 87); text-align: center; font-family: var(--average); font-size: small;">
            <strong style="color: rgb(94, 92, 92);">© NASCOP</strong> - 1987 - 2023 | All Rights Reserved.
        </div>          
                        
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12"></div>
                </div>

            </div>
    
    
</body>
</html>
